---
to: README.md
---
# <%- name %>

<%- description %>

## Install

From npm,

```sh
npm i <%- name %>
```

Type definitions are bundled with this package.

## Usage

__TBD__

### Example

__TBD__

## APIs

API doc

[![](https://img.shields.io/badge/built%20with-ts--ng-blue?style=flat-square)](https://github.com/cogelab/gen-ts-np) <!--(TSNP VERSION: <%- tsnpVersion %>)-->

## Licence

MIT &copy; [<%- owner %>](<%- email %>)
